passdb {
  driver = passwd-file
  args = scheme=ssha256 {{ dovecot_mail_dir }}/config/passwd
  default_fields =
  override_fields =

  deny = no
  master = no
  pass = no
  skip = never
  #mechanisms =
  #username_filter =

  result_failure = continue
  result_internalfail = continue
  result_success = return-ok

  # v2.2.24+
  #auth_verbose = default
}

userdb {
  driver = passwd-file
  
#  args = /config/passwd
#  args = blocking=no
#  override_fields = uid=vmail gid=vmail
  args = username_format=%n {{ dovecot_mail_dir }}/config/passwd

  default_fields = uid=vmail gid=vmail

}

