service imap-login {
  inet_listener imap {
    port = 143
    address = 127.0.0.1
  }

  {% if enable_ssl %}
  inet_listener imaps {
    port = 993
    ssl = yes
  }
  {% endif %}
}

service pop3-login {
  inet_listener pop3 {
  }
  inet_listener pop3s {
  }
}

service lmtp {
  unix_listener lmtp {
  }
}

service imap {
}

service pop3 {
}

service auth {
  unix_listener auth-userdb {
  }
}

service auth-worker {
}

service dict {
  unix_listener dict {
  }
}
