#!/usr/bin/env bash

set -e
set -u
shopt -s nullglob

if [ "$#" -ne 1 ]; then
    echo "usage $0 <username>"
    exit 1
fi

ARCHDIR="{{ dovecot_archive_dir }}/$1"
USERDIR="{{ dovecot_mail_dir }}/$1"

USERMNT="$USERDIR/arch_mnt"
USERWORK="$USERDIR/arch_work"
USERDELTA="$USERDIR/arch_delta"
USERARCH="$USERDIR/mailboxes/archive"

mkdir -p "$USERMNT"
mkdir -p "$USERWORK"
mkdir -p "$USERDELTA"
mkdir -p "$USERARCH"
mkdir -p "$ARCHDIR"

echo "Entering archivedir $ARCHDIR"
cd "$ARCHDIR"
for SQFILE in *.squashfs; do
    # shellcheck disable=2086
    MNTDIR="$USERMNT/$(basename -s .squashfs $SQFILE)"
    mkdir -p "$MNTDIR"

    echo "Mounting $SQFILE to $MNTDIR"
    squashfuse "$SQFILE" "$MNTDIR"
done

echo "Adding RW overlay (upperdir=$USERDELTA,lowerdir=$USERMNT,workdir=$USERWORK)"
fuse-overlayfs -o "upperdir=$USERDELTA,lowerdir=$USERMNT,workdir=$USERWORK" "$USERARCH"
